
body {
    background: #fff;
    color: #333;
    font-family: Lato, sans-serif;
}
.container {
    display: block;
    width: 400px;
    margin: 100px auto 0;
}
ul {
    margin: 0;
    padding: 0;
}
li * {
    float: left;
}
input, button {
    outline: none;
}
label[for='new-task'] {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}
input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}
input[type="text"]:focus {
    color: #333;
}

label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
}
#form-task{
    width: 70%;
}
#form-list{
    width: 180%;
    margin-left: 35%;
}
#new-task{
    width: 350px;
    height: 40px;
}
@media screen and (max-width:1024px){
    #form-list{
        width: 185%;
        margin-left: 35%;
    }
}
@media screen and (max-width:575px){
    #form-list{
        width: 75%;
        margin-left: 13%;
    }
}
@media screen and (max-width:766px) and (min-width:576px){
    #form-list{
        width: 195%;
        margin-left: 35%;
    }
}
@media screen and (max-width:768px){
    #new-task{
        width: 200px;
        height: 40px;
    }
}
@media screen and (max-width:369px){
    #new-task{
        width: 150px;
        height: 40px;
    }
}
@media screen and (max-width:298px){
    #new-task{
        width: 120px;
        height: 40px;
    }
}
@media screen and (max-width:426px){
    .label1{
    font-size: 18px;
    line-height: 40px;
    width: 300px;
    padding: 0 0 0 11px;
    }
}
.delete{
    border: red;
    border-radius: 10%;
    width: 15%;
    background-color: red;
    color: white;
    height: 35px;
    float: right;
}
.edit{
    border: #FFC107;
    border-radius: 10%;
    width: 15%;
    background-color:#FFC107;
    color: white;
    height: 35px;
    
}
.label{
    width: 30%;
}
li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}
li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
}
.label1{
    font-size: 18px;
    line-height: 40px;
    width: 50%;
    padding: 0 0 0 11px;
}
li >  input[type="text"] {
    width: 226px;
}
#completed-tasks label {
    text-decoration: line-through;
    color: #888;
}

ul li input[type=text] {
    display:none;
}
  
ul li.editMode input[type=text] {
    display:block;
    width: 50%;
}
  
ul li.editMode label {
    display:none;
}